<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 3 - Prevelance of Disabilities in NSW</title>
</head>
<body>
    <div class="options"></div>
    <label for="year">Choose a year:</label>
    <select name="year" id="year">
        <option value="2012">2012</option>
        <option value="2015">2015</option>
        <option value="2018">2018</option>
    </select>
    <label for="state">Choose a state:</label>
    <select name="state" id="state">
        <option value="nsw">NSW</option>
        <option value="wa">WA</option>
        <option value="act">ACT</option>
    </select>
</body>
<style>
    .options {
        display: flex;
        flex-direction: row;
    }
</style>
</html>